._ime ._3SwX582z {
  background-color: var(--uA17j4A2);
  border: 0.15rem solid var(--N68B17mQ);
  border-radius: 5rem;
}

._ime ._Rs9Mg7Q4 {
  background: transparent;
  border: 0.15rem solid var(--N68B17mQ);
  border-radius: 2rem;
}

._ime ._Rs9Mg7Q4 input {
  background: transparent;
  border: none;
  outline: none;
}